footer {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(223, 223, 223);
}

footer a {
    color: rgb(68, 68, 68);
    text-decoration: none;
    padding: 10px;
    font-size: small;
}

footer p {
    color: rgb(68, 68, 68);
    font-size: small;
}

footer a:hover {
    text-decoration: underline;
}

.top {
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

