body {
    margin: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    padding-top: 9em;
    padding-bottom: 1em;
}

.searchbar-container {
    display: flex;
    justify-content: space-between;
    border: solid rgb(175, 175, 175);
    border-width: 1px;
    border-radius: 24px;
    margin: auto;
    max-width: 500px;
    min-width: 500px;
    padding: 10px;
}
.searchbar-container:hover{
    box-shadow: 0px 0px 10px rgb(216, 216, 216);
}

.searchbar-container input{
    border: 0px;
    width: 420px;
    height: 100%;
    font-size: 12pt;
}

.searchbar-container input:focus{
    box-shadow: none;
    border: none;
    outline: none;
}